<%- include("header") -%>

<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quibusdam, hic quae consequuntur, culpa inventore provident beatae eaque, harum omnis vitae sed. Veniam, nisi excepturi.</p>

<%- include("footer") -%>